@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
}
h1 {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 10em;
}


h2 {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4em;
    color:#716078
}

.ballinger {
    font-family: "ballinger", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.bebaslila {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    color:#716078
}
.ballingeritalic {
    font-family: "ballinger", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2em;
}

ul, li {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    list-style: none;
    display: inline-block;
    padding-left: 0;
        
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
    font-size: 35px;
}

header {
    display: flex;
}

.flex-container-section-head {
    display: flex;
    flex-direction: column;
}

.section-header {
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    margin-left: 40px;
/* border:1px solid black ;*/
}

nav {
    margin-left: 40px;
    /* border:1px solid black ;*/
    height: 200px;
    display: flex;
    flex-direction:column;
}

.flex-Container-ul {
    height: 200px;
    width: 900px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.flex-item-li2 {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
}

li {
    margin: 10px;
}
