@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
}

header {
    display: flex;
    width: 1470px;
    padding: 50px 225px 20px 225px;
    justify-content: space-between;
    align-items: center;
    height:120px;
}

h1 {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50px; 
    width: 183px;
    height: 120px;
}
.home:hover { 
    color: #716078 ;
    
}


/* nav {
    height: 30px;
    width: 705px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.fotodelucia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
}
.flex-Container-ul {
    height: 30px;
    width: 705px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
ul, li {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    list-style: none;
}



a {
    text-decoration: none;
    color: black;
}


li a:hover  {
    background-color: black;
    border-radius: 5%;
    padding: 5px;
    color: floralwhite ;
}

.experiencialaboral:hover  {
    background-color: black;
    border-radius: 5%;
    padding: 5px;
    color: floralwhite ;
}



h2 {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
}

.diseñadora { 
    width: 1470px;
    height: 308px;
    display: flex;
    padding: 30px 225px 0px 225px;
    align-items: flex-start;
    gap: 400px;
}

.porcentajes {
    width: 729px;
    height: 308px;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.investigación {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 64px;
    font-weight: 100;
    width:729px;
    height:77px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.cuadrante {
    width: 320px;
}

h3 {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 136px;
    color: #716078;
    width: 1580px; ;
    padding: 80px 0px 40px 340px;
}

.educacion-padre { 
    height: 942px;
    width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.licdiseño 
{
    display: flex;
    width: 1855px;
    height: 106px;
    padding: 30px 65px 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.idioma {
    display: flex;
    width: 1720px;
    height: 106px;
    padding: 30px 200px 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.programas {
    display: flex;
    width: 1825px;
    height: 58px;
    padding: 30px 95px 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.historia {
    display: flex;
    width: 1670px;
    height: 106px;
    padding: 30px 250px 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.filo {
    display: flex;
    width: 1710px;
    height: 106px;
    padding: 30px 210px 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.encurso{
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    color: #716078;
}

.licenciatura {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.diseño {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 48px;
    font-weight: 300;
}

.unla {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.elaboral {
    display: inline-flex;
    padding: 20px 0px 50px 200px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 1720px;
}

#laboral {
    width: 1160px;
    height: 154px;
    padding: 80px 0px 20px 760px;
}
.efodysur {
    width: 235px;
    height: 106px;
    display: flex;
    padding: 20px 0px 50px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5px;
    flex-direction: column;
}

.efod {
    width: 870px;
    padding: 20px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.egrafica {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.efechas {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #716078;
}
.desempeño {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.oficio {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
}

#hobbies {
    width: 1550px;
    height: 154px;
    display: flex;
padding: 80px 0px 20px 370px;
align-items: center;
gap: 10px;
}

.club {
    width: 200px;
    height: 106px;
    display: flex;
    padding: 20px 0px 50px 0px;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.clubp {
    width: 200px;
    height: 50px;
    display: flex;
    padding: 20px 0px 50px 0px;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.aire {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #716078;
text-align: right; }

.redes {
    display: flex;
width: 1920px;
height: 100px;
justify-content: center;
align-items: center;
gap: 40px;
border-top: 1px solid;
color: #716078;
}
.instagram :hover {
    height: 45px;
    width: 45px;
}

/* TRABAJOS HTML */

.trabajos {
    display: flex;
width: 1695px;
height: 164;
padding: 20px 0px 20px 225px;
align-items: flex-start;
gap: 10px;
}

.acontinuacion {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    display: flex;
    width: 1920px;
    justify-content: center;
    text-align: left;
}

.galeria {
    display: flex;
    width: 1920px;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.ggaleria {
display: flex;
justify-content: center;
padding-top: 50px;
padding-bottom: 10px;
width: 1920px;
}

.cruz {
    padding-left: 30px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tunla  {
font-family: "Sofia Sans Extra Condensed", sans-serif;
font-size: 32px;
font-weight: 400;
color: #716078;
}

.descripcion {
    font-family:"Sofia Sans Extra Condensed", sans-serif;
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
}

/* CONTACTOS HTML */



form {
    width: 1920px;
    height: auto;
    background-color: #716078;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 670px;
    
}

label {
    width: 30%;
    height: 40px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

input {
    width: 30%;
    height: 60px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: black;
    border-radius: 0 10px 0 10px;
    padding-left: 10px;
}
textarea {
    width: 40%;
    height: 200px;
    border-radius: 0 10px 0 10px;
    padding: 10px;
}

.boton {
display: flex;
justify-content: flex-end;
width: 40%;
padding-top: 10px;
padding-bottom: 10px;
}
.enviar {
    width: 20%;
    height: 15%;
    border-radius: 5px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
    font-style: italic;
    font-weight: 500;
    padding: 20px;

}


