@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
}
h1 {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 10em; 
}

h2 {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 8em;
    color:#716078
}

.ballinger {
    font-family: "ballinger", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

.bebaslila {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3em;
    color:#716078
}

.ballingeritalic {
    font-family: "ballinger", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2em;
}

ul, li {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    list-style: none;
    display: inline-block;
    padding-left: 0; 
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    font-size: 35px;
}

header {
    display: flex;
}

.flex-container-section-head {
    display: flex;
    flex-direction: column
}

.div-header {
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    margin-left:60px;
}

nav {
    margin-left: 50px;
}

.flex-Container-ul {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

main { 
    margin-left: 40px;
    margin-top: 40px;
}
.educacion-padre { 
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cursos { 
    margin-left: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    } 

.unla {
    height:65px;
    margin-top:5px;
}
.edu {
    height: 65px; 
}
.edu3 {
    height: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.lic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.niveles .bebaslila {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
}
#experiencia {
    margin-top: 100px;
    margin-left: 660px;
}
.laboral {
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.grafica {
    margin-right: 20px;
}

.tareas {
    margin-left: 50px;
}
.tp {
    height: 2000px;;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}

img {
margin: 20px;
}

#Contacto {
    margin-top: 60px;
    }

.contacto-padre {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactos {
    margin-right:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datocontactos {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer  {
    margin-top: 100px;
    border-top: 5px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.saber {
    height: 90px;
    width: 100%;
    margin-top: 20px;
    font-size: 5em;
    text-align: center;
}
.redes {
    height: 190pxpx;
    text-align: center;
    
}
.acontacto :hover { 
    color: black;
    font-size: 2em;
}

.instagram :hover {
    height: 60px;
    width: 60px;
}